label {
    color: #FFF;
}

body {
    background-color: #131313;
}

/* Container principal que envolve todos os posts */
.App {
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    padding: 20px;
    background-color: #2d2d2d;
    /* Cor de fundo da página */
}

/* Estilização de cada post */
.post {
    background-color: #1e1e1e;
    padding: 20px;
    border-radius: 10px;
    color: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.title {
    font-size: 18px;
    font-weight: bold;
}

.subtitle {
    font-size: 14px;
    color: #888;
    margin-top: 5px;
}

.top-bar {
    background-color: #3a3a3a;
    /* Cor de fundo um pouco mais clara */
    padding: 15px 20px;
    /* Espaçamento interno */
    display: flex;
    justify-content: left;
    /* Espaço entre os links */
    align-items: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
    /* Sombra para destacar a barra */
}

/* Estilo dos links de navegação */
.top-bar a {
    color: #FFF;
    /* Cor do texto */
    text-decoration: none;
    /* Remove o sublinhado dos links */
    margin: 0 10px;
    /* Espaçamento horizontal entre os links */
    font-weight: bold;
    /* Deixa o texto mais forte */
    transition: color 0.3s ease;
    /* Transição suave para hover */
}

.top-bar a:hover {
    color: #b3b3b3;
    /* Cor do texto ao passar o mouse */
}


/* Create post style */
.CreatePostPage {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: #131313;
}

/* Container do formulário */
.formContainer {
    background-color: #2d2d2d;
    padding: 30px;
    border-radius: 25px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    width: 100%;
    max-width: 400px;
    display: flex;
    flex-direction: column;
}

/* Estilo dos rótulos */
label {
    color: #FFF;
    margin-bottom: 10px;
    font-weight: bold;
}

/* Estilo dos campos de entrada */
#inputCreatePost {
    padding: 10px;
    margin-bottom: 20px;
    border: none;
    border-radius: 5px;
    background-color: #3a3a3a;
    color: #FFF;
}

/* Estilo do botão de criar post */
.Post-Button {
    background-color: #5c5c5c;
    color: #FFF;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.Post-Button:hover {
    background-color: #757575;
}

.postPage {
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    margin: 20px;
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background-color: #2d2d2d;
    color: white;

}

.leftSide {
    background-color: #2d2d2d;
    width: 50%;
    padding-right: 20px;
}

.title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
    font-size: 14px;
    color: #888;
    border-bottom: 1px solid #444;
    padding-bottom: 10px;
}

.postText {
    font-size: 16px;
    line-height: 1.6;
    margin-bottom: 20px;
}

.footer {
    font-size: 14px;
    color: #888;
    border-top: 1px solid #444;
    padding-top: 10px;
}

.rightSide {
    flex: 1;
    padding: 20px;
    background-color: #1e1e1e;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    margin-left: 20px;
}

.addCommentContainer {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.addCommentContainer input {
    flex: 1;
    padding: 10px;
    border: 1px solid #444;
    border-radius: 5px;
    margin-right: 10px;
    background-color: #333;
    color: white;
}

.addCommentContainer button {
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    background-color: #083058;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s;
}

.addCommentContainer button:hover {
    background-color: #45a049;
}

.listOfComments {
    margin-top: 20px;
}

.comment {
    background-color: #2e2e2e;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

